# OKX API配置
# 请替换为您的OKX API密钥信息
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=


# PushPlus通知的Token，用于发送交易通知或警报
PUSHPLUS_TOKEN = "your_pushplus_token_here"

# Telegram Bot配置
# 从BotFather获取的Bot Token
TELEGRAM_BOT_TOKEN = "your_telegram_bot_token_here"
# 你的Telegram用户ID或群组ID(必须先与机器人私聊一次)
TELEGRAM_CHAT_ID = "your_telegram_chat_id_here"

# 初始基准价格，用于计算买入/卖出时的价格参考
INITIAL_BASE_PRICE = 600.0

# 初始本金，用于计算总盈亏和盈亏率
INITIAL_PRINCIPAL = 1000.0

BASE_SYMBOL = 'OKB'  # 基础币种
QUOTE_SYMBOL = 'USDT'  # 计价币种
